
#macOS 
.DS_Store
*xcuserdata*
*xcworkspacedata*
*xcworkspace*

# binaries
jayscriptor
*.o
out/*

# bison generated
src/casper/java/location.hh
src/casper/java/position.hh
src/casper/java/stack.hh
src/casper/java/fake_java_parser.hh
src/casper/java/fake_java_parser.output
src/casper/java/fake_java_parser.cc

# ragel generated
src/casper/java/fake_java_scanner.cc

# Makefile generated
src/version.h